.card {
  background:rgba(0, 0, 0, 0.842);
  border-radius: .5rem;
  height: 180px;
  box-shadow: 0px 0px 10px #999, 0px 0px 10px #999;
  overflow: hidden;
  max-width: 250px;
}

.images {
  max-height: 200px;
  max-width: 200px;
}